# Global code owners for the entire repository
# Frontend Team
* @jotaesteves @Samuel-Araujo-ITsector @thomas36058

# Team contact information:
# @jotaesteves <jorge.esteves@itsector.pt>
# @Samuel-Araujo-ITsector <samuel.araujo@itsector.pt>
# @thomas36058 <thomas.simoes@itsector.pt>