/* Global CSS entry used by shadcn/ui configuration */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom base styles */

@layer base {
  html,
  body {
    font-family:
      Montserrat, Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
      'Segoe UI Symbol';
    @apply antialiased;
  }

  body {
    @apply text-base;

    h1 {
      @apply text-3xl;
    }
    h2 {
      @apply text-2xl;
    }
    h3 {
      @apply text-[22px];
    }
    h4 {
      @apply text-[20px];
    }
    h5 {
      @apply text-lg;
    }
    p {
      @apply text-base;
    }
  }
}

@layer utilities {
  /* se necessário usar classes tailwind para estilizar o scroll : pnpm add -D tailwind-scrollbar */
  .scroll-custom {
    scrollbar-width: thin;
    scrollbar-color: #d1005d #f1f1f1;
  }

  .scroll-custom::-webkit-scrollbar {
    width: 4px;
    height: 4px;
  }

  .scroll-custom::-webkit-scrollbar-track {
    background: red;
    width: 4px;
    border-radius: 2px;
  }

  .scroll-custom::-webkit-scrollbar-thumb {
    background: #d1005d;
    width: 4px;
    border-radius: 2px;
    min-width: 4px;
  }

  .scroll-custom::-webkit-scrollbar-thumb:hover {
    background: #b8004f;
    width: 4px;
  }

  .scroll-custom::-webkit-scrollbar-thumb:active {
    background: #a50049;
    width: 4px;
  }

  .scroll-custom::-webkit-scrollbar-thumb {
    visibility: visible;
  }
}

@import 'tw-animate-css';
